.header {
  width: 320px;
  margin: 0 auto;
  color: #ffffff;
  padding: 10px;
}

.header__wrapper {
  display: flex;
  width: 280px;
  margin: 0 auto;
  min-height: 60px;
}

.header__wrapper-nav {
  display: flex;
  margin-left: auto;
}

.header__logo-image {
  height: 100%;
}
